

body{
 background-color: rgb(13, 66, 182);   
    
    
    
}

header{

    background-color: rgb(5, 12, 144);
    position: fixed;
    width: 98%;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1%;
    


    
    
    

}

hr{
    border: 1px solid;
    color: rgb(20, 52, 123);
}
a:link{
text-decoration: none;
color:rgb(8, 8, 8);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a:visited{
    text-decoration: none;
    color:rgb(8, 8, 8);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.menu{
    width: 450px;
        display: flex;
        justify-content:space-around;
        float: right;
        
}





.overskrift-tekst{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}


.main-area{
    
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: white;
   font-size: 50px;
   margin-top: 10%;
   float: left;
   

}
   

.sidebar{

    float: right;
    margin-right: 5%;
    margin-top: 10%;
   
}

.ommig{

    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-right:30%
    
    
    
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }